.front {
    display: block;
    background-color: rgba(117, 75, 50, 0.75);
    width: 40%;
    position: relative;
    top: -48px;
    text-align: center;
    font-size: 22px;
    border-radius: 25px 55px 25px 25px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-image: initial;
    margin: 10px auto;
    padding: 10px 2px;
}
.back{
    display:none;
}
#player3, #player4, .play1, .play2, .play3{
    display: none;
}
.front> h2{
    font-family:cursive;
    
}
input[type="text"]{
    margin-bottom: 3px;
}
#play{
    padding: 8px;
}